.double-border {
    border-style: double;
}

.boxshadow {
    box-shadow: -1px 0px 14px -1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: -1px 0px 14px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -1px 0px 14px -1px rgba(0, 0, 0, 0.5);
}

body {
    font-weight: bold !important;
}

.instructions {
    font-size: 10px;
}